@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Paars #5722CD*/
/*Blauw #4845E4*/
/*Roze #ED4385*/
/*Zwart #0C0C0C*/
/*Lichtpaars #F2F0FF*/
/*Lichtgrijs #F3F6F9*/
/*Grijs #7A7A7A*/

/*////////////////////////
    Table of Contents
    1. Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*2*/
/*. Typography*/

/*Merriweather,Roboto*/

/*3*/
/*. Layout*/

/*3.1*/
/*Reusables*/

/*3.2*/
/*Other*/

/*4*/
/*. Areas*/

/*4.1*/
/*Header*/

/*4.2*/
/*Introduction*/
/*etc.*/

/*5*/
/*. Media Queries */

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */
